.button {
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    color: var(--white);
    display: flex;
    font-size: var(--size-sm);
    height: 75px;
    justify-content: center;
    transition: all 400ms ease-in-out;
    width: 75px;

    /* make text within unselectable */
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.button p {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.button.small {
    width: 50px;
    height: 50px;
}

.button.extra-small {
    width: 30px;
    height: 30px;
}

.button.input {
    background-color: var(--color-gray2);
    border: 1px solid var(--color-gray3);
    color: var(--color-gray3);
}

.button.input:hover {
    border: 4px solid var(--color-gray3);
}

.button.reset,
.button.resume,
.button.clear {
    background-color: var(--color-gray1);
    border: 1px solid var(--color-gray2);
    color: var(--color-gray4);
}

.button.reset:hover,
.button.resume:hover,
.button.clear:hover {
    border: 4px solid var(--color-gray2);
}

.button.pause {
    background-color: var(--color-brown1);
    border: 1px solid var(--color-brown2);
    color: var(--color-brown3);
}

.button.pause:hover {
    border: 4px solid var(--color-brown2);
}

.button.start,
.button.set {
    background-color: var(--color-green1);
    border: 1px solid var(--color-green2);
    color: var(--color-green3);
}

.button.start:hover,
.button.set:hover {
    border: 4px solid var(--color-green2);
}

.button.time {
    background-color: var(--color-gray1);
    cursor: auto;
    font-size: var(--size-xl);
    height: var(--size-xxl);
    width: var(--size-xxl);
}

.button.current-round {
    background-color: var(--color-gray1);
    cursor: auto;
    font-size: var(--size-md);
    height: var(--size-xl);
    width: var(--size-xl);
}

.button.quantity {
    font-size: var(--size-md);
    height: var(--size-xl);
    width: var(--size-xl);
}

.button.save {
    background-color: var(--color-gray1);
    border: 1px solid var(--color-gray2);
    color: var(--color-gray2);
}