.round-chooser {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2.5vw;
}

.round-chooser > p {
    margin-bottom: 5px;
}

.round-chooser > div {
    align-items: center;
    background-color: var(--color-gray2);
    border-radius: 40px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}